.main{
  overflow-x: hidden;
  width:100vw;
  height:100vh
}
.sidebar{
  /* background-color: grey; */
  width:20vw;
  height:100vh;
  padding-left: 70px;
  /* background-color: rgb(17, 19, 18); */
  background-image: linear-gradient(to right,green,black);
  /* background-image: url('./../../helpers/25574.png'); */
  position: fixed;
  
}

.content{
  width:78vw;
  /* position: absolute; */
  margin-left:20vw;
  /* overflow-x: hidden;  */
}
table{
  width:70vw;
}
h1,h4 {
  text-align:center;
}
.upload{
  width:600px;
  /* height:400px; */
  /* background-color: red; */
 /* margin-top:30%;*/
  margin-left:20% 
}

.input-file {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}